@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
    
}
div.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
    
    }
    div.container img{
        object-fit: scale-down;
    }
    .logotipo{
    display: flex;
    justify-content: space-between;    
    }
.logo1{
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    padding: 5px;
    
        
}
.logo{
    display: flex;
    align-items: center;
    font-size: 30px;
}
.menu{
    display: flex;
    align-items: center;
}
.nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #3F3F3F;

}
nav.active a, nav a:hover{
    background-color: #3F3F3F;
    color: white;
}
#banner{
    background-image: url(../imagens/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;

}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    flex-direction: column;
    align-items: end;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    margin: 0;
    
}
.banner_headline h1{
    max-width: 350px;
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: white;
    
}
.banner_headline h2{
    max-width: 350px;
    margin-top: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    color: white;
}
.banner_options{
    height: 210px;
    display: flex;

}
.banner_options a{
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 12px;

}
.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;

}
.banner1{
    background-color: #574e4ef3;
}
.banner2{
    background-color: #4d4545ee;
}
.banner3{
    background-color: #3f3f3fec ;
}
.banner_title{
    font-size: 22px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_atend{
    padding: 15px;
    
    
}
.horario > div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 15px;
}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20ppx;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight:bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #3F3F3F;
    margin-top: 10px;
}
.widget_cont{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3F3F3F;
}
.widget_cont img{
    width: 35px;
}
.widget_conteudo{
    padding: 10px;
}
.widget_conteudo_text{
    padding-top: 10px;
    width: 220px;
    text-align: end;
    
}

.imagem_conteudo{
    display: flex;
    justify-content: space-between;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #3F3F3F;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #4d4545d0;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color: black;
}
article .news_resume{
    font-size: 14px;
    line-height: 20px;
    color: black;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
    flex: 1;
}
.fm1, .fm2, .fm3{
    flex: 1;
    color: white;
    
}
.footer_menu a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}
.fm1{
    background-color: #574e4ef3;
}
.fm2{
    background-color: #4d4545ee;
}
.fm3{
    background-color: #3f3f3fec ;
}
.footer_area{
   display: flex;
}
.footer_areaitem{
    flex: 1;
    color: white;
}
.flexcolumn{
    flex-direction: column;
}
footer .widget_title_text{
    color: white;
}
.footer_copy{
    border-top: 1px solid #2c2c2c ;
    height: 40px;
    line-height: 40px;
    color: darkslategray;
    font-size: 12px;
    margin-top: 30px;
}